@font-face {
    font-family: "RobotoThin";
    src: url("../css/fonts/roboto/Roboto-Thin.woff") format('woff');
}
body {
    font-family: RobotoThin;
    overflow: hidden;
    background-color: #FFF;
}

.container-fluid {
    padding: 0;
    margin: 0;
    
}

.wrapper {
    color: #000;
    display: flex;
    background-color: #FFF;
    height: 100vh;
    
}

/* START LOG-IN SECTION */
.logInView {
    overflow: hidden;
    /* background: rgb(58,198,199);
    background: linear-gradient(180deg, rgba(58,198,199,1) 17%, rgba(21,96,185,1) 88%); */
    background: #c518e9;
    background: linear-gradient(180deg, rgba(197,24,233,1) 27%, rgba(122,15,175,1) 53%, rgba(81,22,156,1) 77%);
    height: 100vh;
}

.login-section {
    margin: 50px 75px; 
    
    height: 500px;
    color: #c518e9;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background-color: #FFF;
}

#login-btn {
    width: 100%;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    background-color: #c518e9;
    color: #FFF;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 0;
    font-size: 17px;
}
/* END LOG-IN SECTION */



/* START SIDEBAR SECTION */
#collapse-button {
    font-size: 35px;
    margin-top: 0px;
    margin-left: 290px;
    cursor: pointer;
}

.sidebar {
    color: #FFF;
    transition: all 1s;
    padding: 10px;
    z-index: 9999;
    text-align: center;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    background: rgb(197,24,233);
    background: linear-gradient(180deg, rgba(197,24,233,1) 27%, rgba(122,15,175,1) 53%, rgba(81,22,156,1) 77%);
    width: 350px;
    border: 0;
    height: 100vh;
}

.sidebar.active {
    transition: all 1s;
    margin-left: -290px;
}
/* END SIDEBAR SECTION */

/* START CONTENT SECTION */
.content { 
    width: 100%;
    height: 100vh;
}

/* START MAIN VIEW SECTION */
.main {
    background-color: #FFF;
    text-align: center;
    width: 100%;
    height: 88%;
}

/* START MAIN BAR SECTION */
.mainbar {
    width: 100%;
    display: flex;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background-color: #c518e9;
    height: 55px;
    padding: 0px;
}

#title {
    color: #FFF;
    text-align: center;
    margin: 5px;
}

#view-control {
    font-size: 30px;
    cursor: pointer;
    color: #FFF;
    margin: 10px 20px;
}
/* END MAIN BAR SECTION */
/* START BOTTOM BAR SECTION */
.bottombar {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
    height: 12%;
    background-color: #51169c;
}

#bottombar-content {
    width: 100%;
    padding: 20px;
}

.music-controls { 
    margin-top: 20px;
    text-align: center;
}

.music-info {
    margin-top: 20px;
    text-align: center;
    color: #FFF;
}

#control {
    color: #FFF;
    margin: 10px;
    transition: all .5s;
    cursor: pointer;
}

#control:hover {
    color: #c518e9;  
    font-size: 35px;
    transition: all .5s;
}
/* END BOTTOM BAR SECTION */
/* END MAIN VIEW SECTION */
/* END CONTENT SECTION */
