@media (max-width: 768px) {
    .sidebar {
        transition: all 1s;
        margin-left: -290px;
    }

    .sidebar.active {
        transition: all 1s;
        margin-left: 0px;
    }

    .main {
        height: calc(100% - 150px);
    }

    .bottombar {
        height: 150px;
        width: calc(100% - 50px);
    }

    .bottombar.active {
        width: calc(100% - 340px);
    }
}