ul {
    list-style: none;
}
.media {
    display: table;
    width: 100%;
}
.media img {
    display: table-cell;
    max-width: 100%;
}
.media-details {
    padding-left: 1em;
    vertical-align: middle;
    display: table-cell;
    width: 90%;
}

.wrapper {
    background-color: red;
    color: #000;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: blue;
    color: #FFF;
    width: 25%;
    height: 100vh;
}

.content { 
    height: 100%;
    background-color: green;
}

.main {
    height: 75%;
    background-color: orange;
}

.bottombar {
    height: 25%;
    background-color: purple;
}