@media (max-width: 768px) {
    .sidebar {
        transition: all 1s;
        margin-left: -290px;
    }

    .sidebar.active {
        transition: all 1s;
        margin-left: 0px;
    }

    .main {
        height: calc(100% - 150px);
    }

    .bottombar {
        height: 100px;
        width: calc(100% - 50px);
    }

    .bottombar.active {
        width: calc(100% - 340px);
    }

    .sidebar-header.active, .nearby-songs.active, .additional.active {
        opacity: 1;
        transition: all 1s;
    }

    .sidebar-header, .nearby-songs, .additional {
        opacity: 0;
        transition: all 1s;
    }
}